<!--.relative.swiper-container.w-full.h-52.shadow data-controller="carousel" data-carousel-options-value='{ "pagination": { "el": ".swiper-pagination", "dynamicBullets": "true" }, "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev"}, "autoplay": {"delay": "5000"}}'-->
<!--  .swiper-pagination-->
<!--  .swiper-wrapper-->
<!--    .swiper-slide.justify-center.items-center style="display: flex"-->
<!--      =image_tag 'mem3.jpg', class: 'h-48'-->
<!--    .swiper-slide.justify-center.items-center style="display: flex"-->
<!--      =image_tag 'mem2.jpg', class: 'h-48'-->
<!--    .swiper-slide.justify-center.items-center style="display: flex"-->
<!--      =image_tag 'mem1.jpg', class: 'h-48'-->
