= render partial: 'components/slider'

= render partial: 'components/exchanges_ranges_table', locals: {currencies: @currencies, metal_prices: @metal_prices}

.flex.flex-col.justify-start.p-4.space-y-4.text-justify
  h2.text-xl Контакты
  p 
//  h2.text-xl Реквизиты
//  p Каждые четыре года мы собираемся на этих ступенях, чтобы провести организованную и мирную передачу власти. Мы благодарны президенту Обаме и первой леди Мишель Обаме за их благожелательное содействие процессу передачи власти. Они вели себя благородно. Спасибо вам.

// p Однако сегодняшняя церемония приобретает особое значение. Ибо сегодня мы не просто передаем власть от одной администрации другой или от одной партии другой. Мы переносим власть из Вашингтона (округ Колумбия) и отдаем ее вам – народу.

